<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Estos elementos son para estilos y efectos de bootstrap -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous">
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
            <link rel="stylesheet" href="../css/style.css">

        <title>Hoja de Vida - DANIELA</title>
        <link
            href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:wght@300;400;500&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="../css/cv.css">
    </head>
    <body>
        <h1>Bienvenidos al Trabajo Colaborativo</h1>
        <h5>SCRUM - UCN</h5>
        <div>
            <nav class="navbar navbar-expand-lg bg-body-tertiary mt-5 mb-5">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse"
                        id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page"
                                    href="../index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Dropdown
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item"
                                            href="#">Action</a></li>
                                    <li><a class="dropdown-item"
                                            href="#">Another action</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item"
                                            href="#">Something else
                                            here</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled"
                                    aria-disabled="true">Disabled</a>
                            </li>
                        </ul>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search"
                                placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success"
                                type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>

        <div class="cv-container">
            <aside class="sidebar">
                <div class="profile-photo">
                    <img src="../image/perfiles/danielacircular.png"
                        alt="Foto de perfil">
                </div>
                <div class="contact-info">
                    <h2>Contacto</h2>
                    <p>Email: penagonzalezdaniela0gmail.com</p>
                    <p>Teléfono: 3006010029</p>
                    <p>LinkedIn: Tu Perfil de LinkedIn</p>
                    <p>GitHub: Tu Perfil de GitHub</p>
                </div>
                <div class="skills">
                    <h2>Habilidades</h2>
                    <ul>
                        <li>estrategica </li>
                        <li>rapida </li>
                        <li>destresa en aprender rapido algunos trabajos </li>
                    </ul>
                </div>
            </aside>

            <main class="main-content">
                <header>
                    <h1>DANIELA PEÑA</h1>
                    <h2>CONFECCIONISTA DE ROPA</h2>
                    <p>SANTA ROSA DE OSOS, COLOMBIA</p>
                </header>

                <section class="profile">
                    <h2>Perfil</h2>
                    <p>Me desempeño en ser operaria de maquina plana y filetiadora, mis objetivo es ser merjor cada dia y llegar a lograr cosas grandes en la vida.</p>
                </section>

                <section class="experience">
                    <h2>Experiencia Laboral</h2>
                    <div class="job">
                        <h3>operaria de maquinas plana y filetiadora</h3>
                        <p>manofacturas santana | 05-01-2024 - 09-08-2024
                            Fin</p>
                        <ul>
                            <li>mi responsabilidad es realizar cualquier trabajo que me coloque.</li>
                            <li>realizar correctamente el trabajo a realizar.</li>
                        </ul>
                    </div>
                </section>

                <section class="education">
                    <h2>Educación</h2>
                    <div class="degree">
                        <h3>auxiliar en sistemas informaticos</h3>
                        <p>ucn catolica del norte | 02-11-2024 - Fecha
                            Fin</p>
                    </div>
                </section>
            </main>
        </div>
    </body>
</html>
